.home {
  padding: 0px 32px;
}

.home>section:first-of-type {
  margin: var(--spacing-medium-32) 0;

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.home>section:first-of-type>.input-search {
  width: 290px;
  height: 48px;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-10);
  outline: none;
}

.home>section:first-of-type>.input-search::placeholder {
  font-family: 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-gray-20);
}


.home>section:nth-of-type(2)>.table-employess>thead {
  width: 100%;
  height: 47px;
  color: var(--color-white);
}

.home>section:nth-of-type(2)>.table-employess>tbody {
  background-color: var(--color-white);
}

@media (max-width: 768px) {
  .home {
    padding: 0px 20px;
  }

  .home>section:first-of-type {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-regular-20);
  }

  .home>section:first-of-type>.input-search {
    min-width: 100%;
    width: 100%;
  }


}